# Import

In [334]:
import pandas as pd
import numpy as nb
import warnings

warnings.filterwarnings("ignore")

# Data preprocessing

In [335]:
movies1 = pd.read_csv("Movies.csv")
credits = pd.read_csv("credits.csv")

movies1.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

## Merge Dataframe

In [336]:
movies = movies1.merge(credits,on="title")
pd.set_option("display.max_columns", None)
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

## Create a new dataframe including only useful column

In [337]:
Movies = movies[['movie_id','title','overview','genres','keywords','cast',"crew"]]

In [338]:
Movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

## Remove Null Value

In [339]:
Movies.isnull().sum()
Movies.dropna(inplace=True)

In [340]:
Movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

## Create a help function for conver weird form of keyword, tagline and other to normal string

In [341]:
import ast 

def convert (text):
    l = []
    for i in ast.literal_eval(text):
        l.append(i['name'])

    return l

In [342]:

Movies["keywords"] = Movies["keywords"].apply(convert)
Movies["genres"] = Movies["genres"].apply(convert)

In [343]:
def for_cast(text):
    l = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 7:
            l.append(i["name"])
            counter +=1

    return l

In [344]:
Movies["cast"] = Movies["cast"].apply(for_cast)

In [345]:
def for_crew(text):
    l = []
    for i in ast.literal_eval(text):
        if i["job"] == "Director" or i["job"] == "Writer":
            l.append(i["name"])

    return l

In [346]:
Movies["crew"] = Movies["crew"].apply(for_crew)

In [347]:
Movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[James Cameron, James Cameron]"

## Remove Space from [genres,keywords,cast,crew]

In [348]:
def space(text):
    list = []
    for i in text:
        list.append(i.replace(" ",""))
    
    return list

In [349]:
colm = ['genres','keywords','cast','crew']

for col in colm:
    Movies[col] = Movies[col].apply(space)

In [350]:
Movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...","[JamesCameron, JamesCameron]"

## Convert List to string

In [351]:
for col in ['genres','keywords','cast','crew']:
    Movies[col] = Movies[col].apply(lambda x: " ".join(x))

## Merge all column and create one Tag

In [352]:
Movies["tags"] = Movies["overview"]+Movies["genres"]+Movies["keywords"]+Movies["cast"]+Movies["crew"]

In [353]:
Movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",Action Adventure Fantasy ScienceFiction,cultureclash future spacewar spacecolony socie...,SamWorthington ZoeSaldana SigourneyWeaver Step...,JamesCameron JamesCameron,"In the 22nd century, a paraplegic Marine is di..."

## Final Ready Dataset

In [356]:
df = Movies[['movie_id','title','tags']]

In [357]:
df.head(2)

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."